<div class="container">
		<h2 class="text-center">VAT Team</h2>
		<div class="col-md-4 center">
			<img src="default_avatar.png" class="img img-circle center" height="200px" alt="">
			<h4 class="text-center">Nguyễn Mạnh Cường</h4>
			<h4 class="text-center">K58 UET-VNU</h4>
			<h5 class="text-center">Email: <a href="mailto:cuongnm4215@gmail.com">cuongnm4215@gmail.com</a></h5>
		</div>
		<div class="col-md-4"></div>
		<div class="col-md-4 center">
			<img src="default_avatar.png" class="img img-circle center" height="200px" alt="">
			<h4 class="text-center">Kiều Trọng Vĩnh</h4>
			<h4 class="text-center">K58 UET-VNU</h4>
			<h5 class="text-center">Email: <a href="mailto:vinhkieu293@gmail.com">vinhkieu293@gmail.com</a></h5>
		</div>
</div>